body{
    background-color: blueviolet;
}
*
{
    font-size:14px;
}
.images{
    display: flex;
    justify-content: center;
    
}
.image
{
    width: 400px;
    height: 500px;
    object-fit: contain;
}
.buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.btn{
    background-color: rgb(182, 132, 230);
    color:white;
    border:none;
    cursor:pointer;
    padding: 20px 30px;
    font-size: 1.5rem;
    /*Kökdekinin 1.5 katını alır*/
    margin: 5px;
    border-radius: 14px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;;

}
.btn:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}